{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron">
        <h1>Eat dat <i class="fas fa-hamburger"></i></h1>
        <br>
        <h2>Make a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <input type="text" id="newburger" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn" id="addburger"><i class="fas fa-hamburger"></i></span></button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <button type="button" class="eatburger btn" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><i class="fas fa-teeth-open"></i></span></button>
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <button type="button" class="trashburger btn" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><i class="fas fa-trash-alt"></i></button>
                                <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    {{!-- footer --}}
    <div class="jumbotron" style="height: 16px;">
        <a href="https://github.com/zhaokevinma/burger">Github repo</a>
    </div>

</div>